{$DOMAIN} {
	header {
		X-Frame-Options SAMEORIGIN
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}
	reverse_proxy outline:3000
}

links.makenashville.org {
	header {
		X-Frame-Options SAMEORIGIN
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}

	handle /oauth2/* {
		reverse_proxy oauth2-proxy:4180
	}

	handle {
		forward_auth oauth2-proxy:4180 {
			uri /oauth2/auth
			header_up X-Forwarded-Host {host}
			copy_headers X-Auth-Request-User X-Auth-Request-Email
			@unauthorized {
				status 401
			}
			handle_response @unauthorized {
				redir * https://links.makenashville.org/oauth2/start?rd={scheme}://{host}{uri}
			}
		}
		reverse_proxy shlink-web:8080
	}
}

to.makenashville.org, go.makenashville.org {
	header {
		X-Frame-Options SAMEORIGIN
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}
	reverse_proxy shlink:8080
}

learn.makenashville.org {
	header {
		X-Frame-Options SAMEORIGIN
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}
	reverse_proxy moodle:80
}
